.details{
  padding-top: 60px;
}
.content{
  width: 100%;
  position: relative;
  line-height: 1;
  overflow: hidden;
  font-size: 0;
  padding: .25rem .7rem .45rem;
  box-sizing: border-box;
  & > .box{
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
}
.fl{
  float: left;
  position: relative;
}
.fr{
  float: right;
  position: relative;
}
.clearfix{
  &::before,
  &::after{
    display: table;
    content: " ";
  }
  &::after{
    clear: both;
  }
}
p,
h3{
  margin: 0;
}
// top
.top{
  padding-top: .5rem;
  .box{
    width: 100%;
    height: 2.15rem;
    background: #FFFFFF;
    border: 0.01rem solid #DAE0ED;
    box-sizing: border-box;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 0.32rem 0px rgba(81, 120, 204, 0.14);
    .fl{
      width: 20%;
      height: 100%;
      border-right: 0.01rem solid #DAE0ED;
      box-sizing: border-box;
      padding-top: 0.8rem;
      padding-left: 1.24rem;
      padding-right: .3rem;
      &:last-child{
        border-right: 0;
      }
      img{
        width: 0.5rem;
        position: absolute;
        left: 0.52rem;
        top: 0.82rem;
      }
      p{
        color: #383874;
        font-size: 0.16rem;
        margin-bottom: 0.12rem;
      }
      span{
        display: block;
        color: #343472;
        font-size: 0.2rem;
        font-weight: bold;
        line-height: 0.26rem;
        word-break: break-all;
      }
    }
  }
}

// user
.user{
  z-index: 10;
  .box > .fl{
    width: 5.72rem;
    height: 7.77rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 0.18rem 0px rgba(72, 146, 255, 0.13);
    border: 1px solid #DAE0ED;
    border-radius: 0.2rem;
    padding: 0.5rem 0.4rem 0;
    box-sizing: border-box;
    line-height: 1;
    .head{
      width: 100%;
      padding-bottom: 0.3rem;
      border-bottom: 0.01rem solid #DFE4F0;
      & > .user{
        width: 1.5rem;
        margin: 0 auto;
        position: relative;
        >.touxiang{
          width: 1.5rem;
          margin: 0 auto .08rem;
          display: block;
          border-radius: 50%;
          position: relative;
        }
        >.jp{
          width: 0.28rem;
          height: 0.28rem;
          position: absolute;
          bottom: 0.1rem;
          right: 0.1rem;
        }
      }
      & > p{
        color: #36426B;
        font-size: 0.24rem;
        font-weight: bold;
        margin-bottom: 0.12rem;
        text-align: center;
        
      }
      & > span{
        color: #7B7CA4;
        font-size: 0.15rem;
        font-weight: bold;
        display: block;
        text-align: center;
      }
      & > .clearfix{
        margin-top: 0.46rem;
        .fl{
          width: 33%;
          box-sizing: border-box;
          padding: 0 0.2rem;
          margin-bottom: 0.4rem;
          height: 0.72rem;
          p{
            color: #7B7CA4;
            font-size: 0.15rem;
            margin-bottom: 0.12rem;
          }
          span{
            color: #333372;
            font-size: 0.15rem;
            font-weight: bold;
            line-height: 0.24rem;
          }
        }
      }
      & > .anli{
        width: 0.56rem;
        display: block;
        margin: 0 auto;
      }
    }
    .con{
      margin-top: 0.3rem;
      text-align: center;
      display: flex;
      justify-content: space-around;
      & > div{
        display: inline-block;
        // width: 20%;
        text-align: center;
        // margin-right: 0.4rem;
        &:last-child{
          margin-right: 0;
        }
        p{
          color: #343472;
          font-size: 0.25rem;
          margin-bottom: 0.15rem;
          font-weight: bold;
        }
        span{
          color: #7B7CA4;
          font-size: 0.2rem;
        }
      }
    }
  }
  .box > .fr{
    width: 11.68rem;
    height: 7.77rem;
    background: #FFFFFF;
    border: 0.01rem solid #DAE0ED;
    box-shadow: 0px 0px 0.32rem 0px rgba(133, 118, 255, 0.15);
    border-radius: 0.2rem;
    overflow: hidden;
    box-sizing: border-box;
    padding: .4rem;
    &::before{
      content: '';
      position: absolute;
      bottom: .9rem;
      right: 0;
      width: 8.61rem;
      height: 5.61rem;
      background: url('./image/bgkp.png') no-repeat center;
      background-size: cover;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: 0.3rem;
      right: .4rem;
      width: 2.07rem;
      height: 0.34rem;
      // background: url('./image/lg.png') no-repeat center;
      background-size: cover;
    }
    .fl{
      width: 2.4rem;
      height: 100%;
      padding-right: .12rem;
      box-sizing: border-box;
      .head{
        padding-left: 0.74rem;
        box-sizing: border-box;
        padding-top: 0.08rem;
        padding-bottom: 0.07rem;
        width: 100%;
        position: relative;
        margin-bottom: 0.55rem;
        p{
          color: #343472;
          font-size: 0.24rem;
          font-weight: bold;
          margin-bottom: 0.08rem;
          white-space: nowrap;
        }
        span{
          color: #7B7CA4;
          font-size: 0.16rem;
          display: block;
          line-height: 0.24rem;
          white-space: nowrap;
        }
        img{
          position: absolute;
          left: 0;
          top: 0;
          width: 0.6rem;
          border: 0.03rem solid #fff;
          border-radius: 50%;
          box-shadow: 0px 0px 0.32rem 0px rgba(133, 118, 255, 0.4);
          // box-shadow: 0 0.04rem 0.32rem 0 rgba(0, 0, 0, .3);
        }
      }
      .con{
        width: 100%;
        position: relative;
        margin-bottom: 0.4rem;
        p{
          color: #383874;
          font-size: 0.34rem;
          position: relative;
          margin-bottom: 0.12rem;
          display: flex;
          &::before{
            content: '院校排名';
            position: absolute;
            left: 0;
            top: -0.3rem;
            color: #4D4E85;
            font-size: 0.16rem;
          }
          span{
            display: flex;
            align-items: center;
            margin-left: 0.1rem;
            font-size: 0.16rem;
            font-weight: 550;
            font-style: normal;
            position: relative;
            margin-bottom: 0rem;
            >span{
              margin-left: 0;
            }
          }
          img{
            transform: scale(0.6);
          }
        }
        span{
          color: #8787AD;
          font-size: 0.14rem;
          display: block;
          margin-bottom: 0.4rem;
        }
      }
      .con:nth-of-type(3){
        >p{
          &::before{
            content: '专业排名';
            position: absolute;
            left: 0;
            top: -0.3rem;
            color: #4D4E85;
            font-size: 0.16rem;
          }
        }
      }
      .con_img{
        width: 2.03rem;
        height: .47rem;
        margin-bottom: 0.4rem;
      }
      .info{
        p{
          color: #41417A;
          font-size: 0.16rem;
          font-weight: bold;
          margin-bottom: 0.2rem;
        }
        & > div{
          margin-bottom: 0.2rem;
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          &:last-child{
            margin-bottom: 0;
          }
          span{
            display: inline-block;
            width: 100%;
            padding-left: 0.12rem;
            color: #383874;
            font-size: 0.15rem;
            font-weight: bold;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &::before{
              content: '';
              position: absolute;
              width: 0.04rem;
              height: 0.04rem;
              background: #49CC68;
              border-radius: 50%;
              top: 0.08rem;
              left: 0;
            }
          }
          em{
            display: inline-block;
            font-size: 0.15rem;
            color: #A5A5C1;
            font-style: normal;
          }
        }
      }
    }
    .fr{
      height: 100%;
      width: calc( 100% - 2.4rem - .3rem);
      &::before{
        // content: '精品申请案例数量';
        content: '';
        position: absolute;
        color: #72739E;
        font-size: 0.2rem;
        font-weight: bold;
        top: -.2rem;
        right: -.1rem;
      }
      .chart{
        width: 100%;
        height: 100%;
        font-size: 0.14rem;
      }
    }
  }
}

// msg
.msg{
  & .box > .fl,
  & .box > .fr{
    width: 8.7rem;
    height: 4.92rem;
    background: #FFFFFF;
    box-shadow: 0.04rem 0.16rem 0.32rem 0px rgba(111, 143, 234, 0.1);
    border-radius: 0.1rem;
    .con{
      & > p{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: .54rem;
        position: relative;
        line-height: 0.24rem;
        span{
          display: block;
          width: 100%;
          height: 100%;
          padding-left: .3rem;
          position: relative;
          border-left: 0.01rem solid #DAE1FE;
          box-sizing: border-box;
          color: #383874;
          font-size: 0.14rem;
          &::before{
            content: '';
            position: absolute;
            left: -.13rem;
            top: 0;
            width: 0.24rem;
            height: 0.24rem;
            background: #FFFFFF;
            border: 0.06rem solid #5960E7;
            box-sizing: border-box;
            border-radius: 50%;
          }
        }
      }
    }
  }
  & .box > .fl{
    .head{
      box-shadow: 0px 0px 0.32rem 0px rgba(133, 118, 255, 0.15);
      width: 100%;
      height: 0.89rem;
      box-sizing: border-box;
      padding: 0 0.5rem;
      background-color: #F6F8FC;
      span{
        width: 40%;
        height: 100%;
        line-height: 0.89rem;
        display: inline-block;
        color: #72739E;
        font-size: 0.18rem;
        font-weight: bold;
      }
    }
    .con{
      height: 4.03rem;
      overflow-y: scroll;
      width: 100%;
      /*滚动条整体样式*/
      &::-webkit-scrollbar {
        width: 0.08rem;
        height: 0px;
      }

      /*滚动条里面小方块*/
      &::-webkit-scrollbar-thumb {
        background-color: #8675FF;
      }

      /*滚动条里面轨道*/
      &::-webkit-scrollbar-track {
        border-radius: 0.1rem;
        background: #EDEDED;
      }
      & > div{
        height: 1.01rem;
        border-bottom: 0.01rem solid #D7DEED;
        padding: 0 0.5rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        em{
          vertical-align: middle;
          padding: 0.08rem 0.3rem;
          background-color: rgba(134, 117, 255, .1);
          border-radius: 0.08rem;
          color: #8675FF;
          font-size: 0.15rem;
          font-style: normal;
          position: relative;
          &::before{
            content: '';
            position: absolute;
            width: 0.05rem;
            height: 0.05rem;
            background: #8675FF;
            border-radius: 50%;
            left: 0.16rem;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        >span:nth-of-type(1){
          width: 40%;
        }
        >span:nth-of-type(2){
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          span{
            color: #171717;
            font-size: 0.16rem;
            font-weight: bold;
            line-height: 0.24rem;
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            line-height: 0.3rem;
            overflow: hidden; // 文字超出隐藏
            text-overflow:ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            margin: auto 0px;
            // white-space: nowrap;
          }
        }
      }
      .bg{
        width: 6.55rem;
        height: 4.04rem;
        position: absolute;
        bottom: 0;
        right: 0;
        background: url('./image/bgkp.png') no-repeat center;
        background-size: cover;
      }
    }
  }
  & .box > .fr{
    .head{
      box-shadow: 0px 0px 0.32rem 0px rgba(133, 118, 255, 0.15);
      width: 100%;
      height: 0.89rem;
      box-sizing: border-box;
      padding: 0 0.5rem;
      background-color: #F6F8FC;
      span{
        width: 40%;
        height: 100%;
        line-height: 0.89rem;
        display: inline-block;
        color: #72739E;
        font-size: 0.18rem;
        font-weight: bold;
      }
    }
    .con{
      height: 4.03rem;
      overflow-y: scroll;
      width: 100%;
      position: relative;
      /*滚动条整体样式*/
      &::-webkit-scrollbar {
        width: 0.08rem;
        height: 0px;
      }

      /*滚动条里面小方块*/
      &::-webkit-scrollbar-thumb {
        background-color: #8675FF;
      }

      /*滚动条里面轨道*/
      &::-webkit-scrollbar-track {
        border-radius: 0.1rem;
        background: #EDEDED;
      }
      & > .sqwj{
        height: 1.01rem;
        border-bottom: 0.01rem solid #D7DEED;
        padding: 0 0.5rem;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        & > span{
          width: 20%;
          display: inline-block;
          height: 100%;
          &::before{
            content: '';
            width: 0;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
          }
          img{
            width: 0.44rem;
            display: inline-block;
            vertical-align: middle;
          }
          &:nth-child(2){
            width: 50%;
            vertical-align: middle;
            span{
              color: #171717;
              font-size: 0.16rem;
              font-weight: bold;
              line-height: 0.3rem;
            }
          }
        }
        a{
          font-style: normal;
          position: absolute;
          width: 20%;
          height: 100%;
          line-height: 1rem;
          color: #8675FF;
          text-decoration: none;
          font-size: 0.16rem;
          font-weight: bold;
          top: 0;
          right: 0;
          cursor: pointer;
        }
        .huise{
          color: #C0C0C0 !important;
        }
      }
      &>.bg{
        width: 6.55rem;
        height: 4.04rem;
        position: absolute;
        bottom: 0;
        right: 0;
        background: url('./image/bgkp.png') no-repeat center;
        background-size: cover;
      }
    }
    
  }
}

// file
.file{
  & .box > .fl,
  & .box > .fr{
    width: 8.7rem;
    height: 4.92rem;
    background: #FFFFFF;
    box-shadow: 0.04rem 0.16rem 0.52rem 0px rgba(111, 143, 234, 0.2);
    border-radius: 0.1rem;
    overflow: hidden;
    padding: .8rem 0.4rem .4rem;
    box-sizing: border-box;
    & > p{
      color: #72739E;
      font-size: 0.2rem;
      font-weight: bold;
      position: absolute;
      width: 100%;
      top: .4rem;
      text-indent: .4rem;
      left: 0;
    }
  }
  & .box > .fl{
    padding-top: .4rem;
    .fr{
      width: 1.8rem;
      height: 100%;
      & > div{
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      & > div > div{
        width: 100%;
        display: block;
        padding-bottom: 0.1rem;
        margin-bottom: 0.2rem;
        cursor: pointer;
        border-bottom: 0.01rem solid #D8D8D8;
        &:last-child{
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: 0;
        }
        h3{
          color: #4D4E85;
          font-size: 0.16rem;
          margin-bottom: .08rem;
        }
        p{
          color: #383874;
          font-size: 0.16rem;
          position: relative;
          b{
            font-size: 0.36rem;
          }
          em{
            font-style: normal;
            color: #3DD598;
            font-size: 0.16rem;
            position: absolute;
            right: 0;
            bottom: .02rem;
          }
        }
        span{
          color: #8787AD;
          font-size: 0.14rem;
          display: block;
          margin-top: .08rem;
        }
        &.on{
          h3{
            color: #8675FF;
          }
          p{
            color: #8675FF;
          }
        }
      }
    }
    .fl{
      width: calc(100% - 1.8rem);
      padding-right: 0.4rem;
      height: 100%;
      box-sizing: border-box;
      .chart{
        width: 100%;
        height: 100%;
        font-size: 0.14rem;
      }
    }
  }
  
  & .box > .fr{
    padding: 0;
    .head{
      box-shadow: 0px 0px 0.32rem 0px rgba(133, 118, 255, 0.15);
      width: 100%;
      height: 0.89rem;
      box-sizing: border-box;
      padding: 0 0.5rem;
      background-color: #F6F8FC;
      span{
        width: 40%;
        height: 100%;
        line-height: 0.89rem;
        display: inline-block;
        color: #72739E;
        font-size: 0.18rem;
        font-weight: bold;
      }
    }
    .con{
      height: 4.03rem;
      overflow-y: scroll;
      width: 100%;
      position: relative;
      & > p{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: .54rem;
        position: relative;
        line-height: 0.24rem;
        >span{
          display: block;
          width: 100%;
          height: 100%;
          padding-left: .3rem;
          position: relative;
          border-left: 0.01rem solid #DAE1FE;
          box-sizing: border-box;
          color: #383874;
          font-size: 0.14rem;
          &:after{
            content: '';
            position: absolute;
            left: -.13rem;
            top: 0;
            width: 0.24rem;
            height: 0.24rem;
            background: #FFFFFF;
            border: 0.06rem solid #5960E7;
            box-sizing: border-box;
            border-radius: 50%;
          }
        }
        
      }
      /*滚动条整体样式*/
      &::-webkit-scrollbar {
        width: 0.08rem;
        height: 0px;
      }

      /*滚动条里面小方块*/
      &::-webkit-scrollbar-thumb {
        background-color: #8675FF;
      }

      /*滚动条里面轨道*/
      &::-webkit-scrollbar-track {
        border-radius: 0.1rem;
        background: #EDEDED;
      }
      & > .sqwj{
        height: 1.01rem;
        border-bottom: 0.01rem solid #D7DEED;
        padding: 0 0.5rem;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        display: flex;
        & > span{
          width: 20%;
          display: inline-block;
          height: 100%;
          font-size: 0.16rem;
          &::before{
            content: '';
            width: 0;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
          }
          &:nth-child(2){
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            span{
              color: #171717;
              font-size: 0.16rem;
              font-weight: bold;
              line-height: 0.24rem;
              display: inline-block;
              width: 100%;
              vertical-align: middle;
              line-height: 0.3rem;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              margin: auto 0px;
            }
          }
        }
        
      }
    }
    
    .bg{
      width: 6.55rem;
      height: 4.04rem;
      position: absolute;
      bottom: 0;
      right: 0;
      background: url('./image/bgkp.png') no-repeat center;
      background-size: cover;
    }
  }
}